/* Globais ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Josefin Sans";
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.subtitulo {
    font-size: 3rem;
    margin-left: 4rem;
    color: white;
    font-weight: bolder;
}

/* Navbar ---------------------- */

nav {
    display: flex;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    color: white;
    width: 100%;
    padding: 2rem 8rem;
    align-items: center;
    position: fixed;  
    top: 0;
    z-index: 1000;
    
}

.burger {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 60px;
    height: 60px;
}

@media (max-width: 430px) {
    nav {
        width: 100%;
        height: 9rem;
        padding: 2rem;
    }

    .burger {
        display: block;
    }

    .item {
        display: none;
    }
}

.items {
    display: inline-flex;
    justify-content: space-around;
    margin-left: auto;
    font-size: larger;
    gap: 1rem;
}

.item a:hover {
    transition: 0.1s ease;
    font-weight: bold;
}

.logo {
    width: 60px;
    height: 60px;
    transition: 0.2s ease;
}

.logo:hover {
    width: 63px;
    height: 63px;
}

/* Seção 1 - Componentizada!  ---------------------- */
/* Seção 2 - Componentizada! ---------------------- */
/* Seção 3 - Componentizada! ---------------------- */

/* Seção 4 - Exploracoes */

.section4 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    height: 100%;
}

/* Seção 6 ------------------------------------ */

.quiz-title {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    margin-top: 10%;

}


/* Seção 7 - Sons de Marte */
@media (max-width: 430px) {
    .section2,
    .section3,
    .section4,
    .section6,
    .section7 {
        width: 100%;
        padding: 0 !important;
    }
}

.section7 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.titulo7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audio-player {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
}
  
.play-button {
    border: none;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
  
.progress-bar {
    flex: 1;
    appearance: none;
    background-color: white;
    height: 4px;
    border-radius: 2px;
    outline: none;
    margin-right: 10px;
}
  
.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #555B8D;
    border-radius: 50%;
}
  
.time {
    color: white;
    font-family: Arial, sans-serif;
}

.sons-title {
    font-size: 2.2rem;
    
}

hr {
    border: 2px solid #555B8D;
    border-radius: 2px;
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

/* Footer ---------------------- */


/* Sectionwise ---------------------- */

.section {
    margin-top: -6rem;
}

.section2 {
    color: white;
    margin-top: -80px;
}

.section,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
    display: block;
    padding: 5rem;
}

.section,
.section5,
.section7 {
    background-color: black;
    color: white;
}

.section2,
.section6, 
.section4 {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(3,8,57,1) 52%, rgba(0,0,0,1) 100%);   
    margin-top: 3rem;
}

.section3 {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(113,44,2,1) 52%, rgba(0,0,0,1) 100%);
    color: white;
}

.section7 {
    text-align: center;
}

/* Loader ---- */


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity 1.5s, visibility 1.5s;
    z-index: 999;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #602515;
    border-top-color: #ff5b2e;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}