@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
    font-family: 'Josefin Sans';
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;

    background-color: black;
    color: white;
    width: 100%;
    padding: 2rem;
    align-items: center;
    padding: 2rem 8rem;
    
}

.items {
    display: inline-flex;
    margin-left: auto;
    font-size: larger;
}

.item a:hover {
    transition: 0.1s ease;
    font-weight: bold;
}

.logo {
    width: 60px;
    height: 60px;
    transition: 0.2s ease;
}

.logo:hover {
    width: 63px;
    height: 63px;
}

.titulo {
    margin: 2rem auto;
    width: 753px;
    height: 363px;
    position: relative; 
    z-index: 1;
    transition: 0.3s ease;
}

.item {
    margin-left: 1rem;
}

.mars {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: -18vh;
    margin-bottom: -20vh;
    transition: transform 0.0s ease-in-out;
    z-index: 2;
}

.seta {
    visibility: hidden;
}

.info-table {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
   
    border-collapse: collapse;
  }
  
  .info-table td {
    padding: 15px 10px;
    font-size: 1.2rem;
  }
  
  .label {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid white;
  }
  
  .value {
    text-align: right;
    border-bottom: 1px solid white;
  }
  
  .info-table tr:last-child td {
    border-bottom: none;
  }

.subtitulo {
    font-size: 3rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.minimars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mars3d {
    width: 500px;
    height: 500px;
    display: flex;
    margin-bottom: 20px;
}

.mars3d p {
    text-align: center;
    margin-top: 1rem;
    position: absolute;
}

.subsection {
    display: flex;
    width: 100%;
    gap: 5%;
    padding: 0 8rem;
    margin-bottom: 4rem;
}

.subsection2 {
    display: flex;
    justify-content: center;
    padding: 0 30rem;
    gap: 10%;
    margin-bottom: 8rem;
}

.status {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    margin-bottom: 3rem;
    margin-top: 15vh;
}

.small {
    display: flex;
}

.num {
    color: #555b8d;
    font-size: 6rem;
    margin-right: 2rem;
    transition: 0.1s ease-in-out;
}

.txt {
    font-size: x-large;
    text-align: center;
} 

.small .txt {
    width: 25vh;
    margin-top: 4%;
}

.saber {
    text-align: center;
    font-size: 2.5rem;
    margin-top: -40px;
    margin-bottom: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-foguete {
    justify-content: center;
    display: inline-flex;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s ease;
    padding: 1rem 5rem;
    border-radius: 50px;
    text-decoration: none;
    padding-bottom: 0.2%;
    
}   

.btn-foguete:hover {
    font-weight: bolder;
    padding: 1rem 6rem;
    padding-bottom: 0.2%;
    box-shadow: 0px 0px 108px 6px rgba(255, 255, 255, 0.33);
    -webkit-box-shadow: 0px 0px 108px 6px rgba(255, 255, 255, 0.33);
    -moz-box-shadow: 0px 0px 108px 6px rgba(255, 255, 255, 0.33);
}

.btn-foguete img {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
}

.sputnik-img {
    position: absolute;
    left: 80%;
    margin-top: -50vh;
    height: 600px;
    width: 600px;
    transition: 0.3s ease;
}

footer {
    display: flex;
}

.section {
    margin-top: -6rem;
}

.section2 {
    color: white;
    margin-top: -80px;
}

.section, .section2, .section3, .section4, .section5, .section6, .section7 {
    display: block;
    padding: 5rem;
}

.section, .section5, .section7 {
    background-color: black;
}

.section2, .section6 {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(3,8,57,1) 40%, rgba(3,8,57,1) 60%, rgba(0,0,0,1) 100%);
}

.section3, .section4 {
    background-color: orange;
    color: white
}